@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<style>
    header{
        background-color: #fa9c1d;
    }
    body{
        margin: auto;
        padding 10px;
        background-color: #4a4c4e;
        font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    }
    a{
        text-decoration: none;
        color: blue;
    }
</style>

<div class="text-center">
    <h1 class="display-4">Welcome to the Lore of Overwatch 2</h1>
    <p>Check out our page to learn about our 35 different heroes!</p>
</div>
